.ui-datatable .ui-datatable-header{
    color: white !important;
    background-color: #01415B !important;
    font-size: 16px;
    height: 30px !important;
    padding: 3px !important;
}
body .ui-datatable thead th{
    font-size: 16px;
    height: 20px !important;
    padding: 5px !important;
    background: #f5fafa !important;
}
.ui-button{
    background-color: #01415B !important;
    color: #fff;
    width: 120px;
}

body .ui-calendar .ui-button.ui-button-icon-only {
    width: 2.357rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: 0px !important;
}

body{
    background:#f5fcfc;
}
body .ui-chkbox .ui-chkbox-box.ui-state-active{
    background: #01415B !important;
    border-color: #01415B !important;
}
body .ui-menu .ui-menu-list .ui-widget-header{
    background: #073c52 !important;
}

body .ui-menu .ui-menu-list .ui-widget-header h3{
    color: #fff !important;
}

